<footer>
    <nav class="footer-nav">
        <a href="/privacy_policy" class="nav-link">Privacy Policy</a>
        <!-- <a href="/termsandconditons" class="nav-link">T and Cs</a>
        <a href="/locations" class="nav-link">Locations</a> -->
        <!-- <a href="/" class="nav-link">Home</a> -->
    </nav>
    <span>© 2024 High Street Gym</span>
</footer>