<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>High Street Gym - Privacy Policy</title>
</head>

<body>
    <%- include("partials/header.ejs", {accessRole, firstName}) %>
        <main>

            <h2>Privacy Policy</h2>
            <section class="main-content"><p> The Privacy Act 1988 (Privacy Act) is the principal piece of
                Australian legislation protecting the handling of personal
                information about individuals. This includes the collection, use,
                storage and disclosure of personal information in the federal public
                sector and in the private sector. Other statutory provisions also
                affect privacy and separate privacy regimes apply to state and
                territory public sectors. We assist the Attorney-General to
                administer the Privacy Act.The Privacy Act was significantly amended
                in 2014 and 2017 to enhance the protection of privacy in Australia.</p>
</section>
        </main>
        <%- include("partials/footer.ejs") %>
</body>

</html>